  $baseColor : #6c757d;
  $dark-gray : #343a40;
  $dimGray:#212529;
  $blue:#007bff;
  $green :#28a745;
  $hoverBlue:#0056b3;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');



    @mixin xs {
      @media (min-width : 575px) {@content; }
  }
    @mixin sm {
      @media (min-width: 768px) { @content; }
  }
    @mixin md {
      @media (min-width: 992px) { @content; }
  }
    @mixin lg {
      @media (min-width: 1200px) { @content; }
  }
  @mixin mobile{
    @media (max-width:  574px){@content; }
  }

a{
  text-decoration:none;
  color: inherit;
}
html{
  padding : 0px 0px 0px 0px;
  overflow-x: hidden;
    width: 100%;
    margin: 0px 0px;
    box-sizing: border-box;
    line-height:1.5rem;
    background-color: #fff;
    color :$baseColor;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    .container{
      margin:auto;
      max-width: 100%;
         width: 100%;
          padding-right: 7px;
          padding-left: 7px;
          margin-right: auto;
          margin-left: auto;
        @include mobile(){box-sizing: border-box;}
        @include xs(){
           padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          max-width: 515px;
        }
        @include sm(){
          max-width: 690px;

        }
        @include md(){
          max-width: 930px;
        }
        
        @include lg(){
          max-width: 1110px;
        }
      

        .header{
          line-height: 1;
          border-bottom: 1px solid #e5e5e5;
          padding-bottom: 1rem;
          padding-top: .5rem;
          font-size: 16px;

          .header__list{
            display:flex;
            justify-content:space-between;
            align-items: center;
            flex-wrap: nowrap;
            
            .header__left{
              padding-top: 0.25rem;
              flex: 0 0 33.333333%;
              max-width: 33.333333%;
            }

            .header__center{
              font-size: 36px;
              font-family: "Playfair Display", Georgia, "Times New Roman", serif;
              font-weight: 600;
              color: #1d2124!important;
              text-align: center;
              flex: 0 0 33.333333%;
              max-width: 33.333333%;
            }
            .header__right{
                display:flex;
                justify-content:flex-end;
                align-items:center;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;

                .header__image{
                    margin : 0px 1rem;
                    cursor: pointer;
                }
                .header__button{
                      padding: .25rem .5rem;
                      font-size: .875rem;
                      line-height: 1.5;
                      cursor: pointer;
                      border: 1px solid $baseColor;
                      border-radius :.2rem;
                      background-color: transparent;
                      background-image: none;
                      border-color: $baseColor;
                      transition:all ease-in-out .2s;

                      &:hover{
                        background-color: $baseColor;
                        color:#fff;
                      }
                }
            }
            .header__link{
              cursor: pointer;
              &:hover{
                text-decoration:underline
              }
            }
          }

        }

        .nav{
          margin-top: -2.5px;
          position: relative;
          z-index: 2;
          overflow-y: hidden;
          padding : .4rem 0px;

          .nav__items{
            
            display:flex;
            justify-content:space-between;
            align-items:center;
            flex-wrap: nowrap;
            overflow-x: hidden;
            text-align: center;
            white-space: nowrap;

            .nav__link{
              padding :.5rem .5rem;
              cursor: pointer;
              color: $baseColor;
              @include xs(){
                padding :.5rem .5rem
              }

              &:hover{
                text-decoration:underline;
              }
            }
          }
        }


        .main-post{
          border-radius: .25rem;
          background-color: $dark-gray;;
          color: #fff;
          box-sizing: border-box;
          margin-bottom:2rem;
          font-weight: 400!important;
          padding-bottom: 2px;
          padding-right: 16px;
          padding-left: 16px;
          padding-top: 16px;margin-top: 2px;
          box-sizing: border-box;
          @include xs(){
            padding: 1rem 1rem .5rem 1rem;
            margin-top: .1rem;
          }
          @include sm(){
            padding :3rem 3rem 1.1rem 3rem;
          }
          .main-post__body{
            @include sm(){
                flex: 0 0 50%;
                max-width: 50%;
            }
            position: relative;
            width: 100%;
            min-height: 1px;

            .main-post__head{
              font-size: 2.5rem;
              @include sm(){
                font-size: 3rem;
              }
              margin:0px;
              line-height: 1.2;
              display:block;
              font-weight: bolder;
              font-style: italic;
              font-family: "Playfair Display", Georgia, "Times New Roman", serif;
          }

          .main-post__sub-head{
              margin:  1rem 0rem;
              font-size: 1.25rem;
              font-weight: 300;
              line-height: 1.5;
            }

          .main-post__footer{
              margin-bottom: 1rem;
            @include sm(){
               margin-bottom: 2rem;
            }
              font-size: 1.25rem;
              font-weight: 600;
             
             .main-post__link{
                cursor: pointer;
                &:hover{
                  text-decoration:underline
                }
              }
          }
          }
         
        }

        .row{
          display:flex;
          justify-content:space-between;
          align-items:center;
          flex-direction: column;
            @include sm(){
              flex-direction: row;
              margin-right: -15px;
              margin-left: -15px;
          }
          
        .card{
          width: 100%;
          position: relative;
          box-sizing: border-box;
          padding:0px 0px 24.5px 0px;
           @include sm(){
              flex: 0 0 50%;
              max-width: 50%;
              padding : 0px 15px
          }
          
          .card__item{
          border: 1px solid rgba(0,0,0,.125);
          border-radius:.25rem;
          box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
          display:flex;
          justify-content:space-between;
          margin: 0px 0px 0px 0px;
            @include sm(){
              margin: 0;
               height: 250px;
            }
          .card__body{
              box-sizing: border-box;
              padding:1.25rem 1.25rem 1.25rem 1.25rem;
              @include sm(){
                padding:1.3rem 1.25rem 1rem 1.25rem;
              }
              
              .card__header--blue{
                margin-bottom: .45rem;
                @include sm(){
                  margin-bottom:.5rem;
                }
                display: inline-block;
                color:$blue!important;
              }
                .card__header--green{
                   margin-bottom: .45rem;
                @include sm(){
                  margin-bottom:.5rem;
                }
                display: inline-block;
                color:$green!important;
              }
              .card__title{
                font-size: 1.75rem;
                font-weight: bolder;
                margin:0rem 0rem;
                font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                line-height:1.2;
                .card__link{
                  color: #1d2124!important;
                }
              }
              small{
                @include sm(){
                  display: block;
                }
                  font-size: 16px;
                  color: $baseColor;
                  margin-bottom:0rem;
                  margin-top: -.05rem;
                  font-weight: 300;
                  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                }
              .card__text{
              
                  margin:.25rem 0rem 0rem 0rem!important;
                  word-wrap: break-word;
                
                @include sm(){
                  margin: .25rem 0rem 1.2rem 0rem !important;
                }
                
                color: #000!important;
                text-overflow: ellipsis;
                
              }
          }
          .card__image-container{
           display:none;
           
           @include sm(){
             display:block;
               position: relative;
            height: 100%;
            }
          }
          .card__footer{
            color:$blue!important;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
               color:#0056b3!important;
            }
            }
          }
        }
      }
      .section{
        display:flex;
        color: #000;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        @include sm(){
          flex-direction: row;
        }
        .section-left{
          max-width: 100%;
          position: relative;
          padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
          @include sm(){
            flex: 0 0 66.66666%;
            max-width: 66.66666%;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
          }
            width: 100%;
            min-height: 1px;

            .section-heading{
              margin-top: 0rem;
              @include sm(){
                 margin-top:1.5rem;
              }
              padding-top: .75rem;
              margin-bottom:24px;
              padding-bottom:1.25rem;
              font-style: italic;
              border-bottom: 1px solid #dee2e6;
              font-family: "Playfair Display", Georgia, "Times New Roman", serif;
              font-size: 1.75rem;
              color: $dimGray;
            }
            .blog-post{ 
              margin-bottom: 4rem;
              .blog-post__title{
                margin-top: 0;
                margin-bottom: 0rem;
                font-size: 2.5rem;
                font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                font-weight: 600;
                color: $dimGray;
                line-height: 1.2;
              }
              .blog-post__sub-title{
                color: $baseColor;
                margin-top: .25rem;
                margin-bottom:1.25rem

              }
              .blog-post__heading{
                    font-size: 2rem;
                    margin-bottom: .5rem;
                    margin-top: 0rem;
                    font-family: inherit;
                    font-weight: 600;
                    line-height: 1.2;
                    color: $dimGray;
                    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
              }
              .blog-post__sub-heading{
                font-size: 1.75rem;
                margin-top: 0;
                margin-bottom: .5rem ;
                color: $dimGray;
                line-height: 1.2;
                font-family: "Playfair Display", Georgia, "Times New Roman", serif;
              }
              .blog-post__body{
                color: #000;
                margin-top : 0rem ;
                margin-bottom:1rem;
              }
              .blog-post__link{
                color: $blue!important;
                cursor: pointer;
                &:hover{
                  color: $hoverBlue!important;
                  text-decoration:underline;
                }
              }
              pre{
                display: block;
                color: $dimGray;
                margin-bottom: .9rem;
                overflow: auto;
                font-family: monospace,monospace;
                // font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
                font-size: 14px;

              }
              code{
                font-family: monospace,monospace;
              }
              .blog-post__listgroup{
                margin: 1rem 0px;
                margin-bottom: 1rem;
              }
              .blog-post__listgroup--numbered{
                 margin: 1rem 0px;
                margin-bottom: 1rem;
                    list-style:decimal;
              }
            }
            .blog-post__footer{
              display:flex;
              justify-content:flex-start;
              align-items:center;
              margin-bottom:4rem;
          
              .blog-post__button{
                border:1px solid ;
                padding: .375rem .75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius:2rem;
                cursor: pointer;
                transition:all ease-in-out .1s;
                background-color: transparent;
              }
              .blog-post__button--blue-btn{       
                display:block;
                color: #007bff;
                &:hover{
                  background-color:#007bff;
                  color: #fff;
                }
              }
              .blog-post__button--disabled-btn{
                display:block;
                margin-left: .3rem;
                 color: #6c757d;
                 opacity: .65;
                pointer-events: none;
                cursor: not-allowed!important;
              }
             

            }
        }
        .aside{
            width: 100%;
            display: block;
            position: relative;
            margin-top: 2rem;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
            max-width: 100%;
            @include sm(){
               flex: 0 0 33.333333%;
              max-width: 33.333333%;
            }
          .aside__about{
            padding:1.1rem 1rem;
            margin-bottom: 1rem;
            background-color:#f8f9fa;
            border-radius:.25rem;
            box-sizing: border-box;
            text-align: left;
          }
          .aside__title{
            margin-top: 0rem;
            margin-bottom: .35rem;
            padding :0rem;
            font-size: 1.5rem;
            font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
            font-style: italic!important;
            font-weight: 500;
            height: 28.8px;
          }
          .aside__link{
            color:$blue!important;
            &:hover{
              color:$hoverBlue!important;
              text-decoration:underline
            }
          }
          .aside__body{
              margin :0rem;
              padding:0rem;
          }
          .aside__section{
           padding:1rem;
           margin:0rem;
            .aside__list-group{
                list-style: none;
                padding:0px!important;
                margin:0px!important;
              }
          } 
        }
      }
    }
    .footer{
      padding: 2.5rem  0rem .95rem 0rem!important;
      //height:80px;
      //margin:2rem 0rem!important;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: .05rem solid #e5e5e5;
      display: block;
      box-sizing: border-box;
      .footer__link{
        color:$blue
      }
    }
  }


  .text-blue{
    color: $blue !important;
  }
  .text-blue.link{
   &:hover{
     color:#0056b3!important;
   }
  }
  .text-green{
    color: $green !important;
  }
  .link{
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .numbered {
    list-style:decimal;
  }
hr{
   margin-top: 1rem;
   margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}